@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

.App {
  margin: 0;
  width: 100%;
  padding: 0;
  padding-top: 32px;
  height: 903px;
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
}
